.profile .header {
    padding-left:0;
}
.profile p {
    margin: 0;
    padding: 5px 0 0 0;
}
.column .icons {
    display: flex;
}
.icons .icon {
    width: 25px !important;
    height: 25px !important;
}
.edit:hover {
    color: blue;
}
.user:hover {
    color: green;
}
.trash:hover {
    color: red;
}
.exclamation {
    font-size: 1.8em !important;
    color: red;
    float: left;
}
.deleteView {
    display: flex;
    align-items: center;
    justify-content: center;
}
.deleteView .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.deleteView button {
    width: 100px;
    margin-top: 10px !important;
}